:root {
  --primary-text-color: #757575; /* цвет вторичного текста */
  --title-text-color: #212121; /* вторичнй цвет бренда  (и текста) */
  --accent-color: #2196f3; /* основной цвет бренда */
  --black-color: #000000; /* Черный цвет на сайте */
  --bgd-color: #2f303a; /* цвет фона */
  --white-color: #ffffff; /* белый цвет на сайте */
  --transparent-white-color: rgba(255, 255, 255, 0.6); /* цвет текста в футере (с прозрачностью */
  --team-bgd-color: #f5f4fa; /* цвет фона на секциях */
  --border-color-cards: #eeeeee; /* Цвет рамок карточек*/
  --border-color-main: #ececec; /* цвет основных рамок */
  --active-button-background: #188ce8; /* цвет активности главной кнопки */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  min-width: 100%;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

.section {
  padding: 94px 0px;
}
body {
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.button {
  display: inline-block;
  font-family: Roboto, sans-serif;
  cursor: pointer;
}
.button-hero {
  background-color: var(--accent-color);
  color: var(--white-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  display: block;
  margin-left: auto;
  margin-right: auto;
  /*   min-width: 216px; */
  padding: 10px 32px;
  border-radius: 4px;
}
.button-secondary {
  background-color: var(--team-bgd-color);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------------HEADER----------------------- */

.header-navigation {
  display: flex;
  align-items: center;
}

.header-navigation-block {
  display: flex;
  align-items: center;
}

.logo {
  display: block;
  font-family: Raleway, normal;
  color: var(--accent-color);
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header-logo-text {
  color: var(--black-color);
}
.header-navigation-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.header-navigation-item:not(:last-child) {
  margin-right: 50px;
}

.header-navigation-link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}

.current {
  color: var(--accent-color);
}

.header-contact-list {
  display: flex;
  list-style-type: none;
  margin-left: auto;
}

.mail-link,
.tel-link {
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
}
.mail-link,
.tel-link:not(:last-child) {
  margin-right: 50px;
}

.header-navigation-link:hover,
.header-navigation-link:focus,
.mail-link:hover,
.mail-link:focus,
.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

/* --------------------HERO------------------------ */
.hero {
  background-color: var(--bgd-color);
  text-align: center;
  margin-bottom: 94px;
}
.hero .container {
  padding: 200px 0px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  color: var(--white-color);
  text-transform: uppercase;
  max-width: 696px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.button-hero:hover,
.button-hero:focus {
  background-color: var(--active-button-background);
}

/* ---------------------FEATURES----------------------- */

.feature {
  margin-bottom: 94px;
}

.feature-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.feature-list-item {
  flex-basis: calc(100% / 4 - 30px);
  min-width: 270px;
}
.feature-list-item:not(:last-child) {
  margin-right: 30px;
}

.feature-list-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature-list-text {
  line-height: 1.71;
}

/* ----------------------OUR WORK---------------------------- */
.work {
  margin-bottom: 94px;
}

.work-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.work-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.work-list > .item {
  flex-basis: calc(100% / 3 -30px);
}

.work-list > .item:not(:last-child) {
  margin-right: 30px;
}

/* -----------------------------OUR TEAM---------------------------------- */

.our-team {
  background-color: var(--team-bgd-color);
  display: flex;
  padding: 90px 0px;
}

.our-team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
  text-align: center;
}

.our-team-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.card {
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.our-team-list > .item {
  flex-basis: calc(100% / 4-30px);
}

.our-team-list > .item:not(:last-child) {
  margin-right: 30px;
}

.our-team-discr {
  padding-top: 30px;
  padding-bottom: 30px;
}
.teammate-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

.teammate-profession {
  font-size: 16px;
  line-height: 1.18;

  margin-top: 10px;
  text-align: center;
}

/* ----------------------------------FOOTER----------------------------- */

.footer {
  display: flex;
  background-color: var(--bgd-color);
}
.footer .container {
  padding: 60px 0px;
}

.footer .logo {
  margin-bottom: 20px;
}

.footer-logo-text {
  color: var(--white-color);
}

.footer-adress {
}

.footer-adress-list {
  list-style-type: none;
}

.footer-adress-list > .item {
  display: block;
  margin-bottom: 9px;
  padding: 0px;
}
.footer-adress-list > .item:last-child {
  margin-bottom: 0px;
}

.footer-adress-map {
  font-style: normal;
  color: var(--white-color);
  text-decoration: none;
  line-height: 1.71;
}

.footer-adress-mail,
.footer-adress-tel {
  font-style: normal;
  color: var(--transparent-white-color);
  text-decoration: none;
  line-height: 1.71;
}

.footer-adress-map:hover,
.footer-adress-map:focus,
.footer-adress-mail:hover,
.footer-adress-mail:focus,
.footer-adress-tel:hover,
.footer-adress-tel:focus {
  color: var(--accent-color);
}

/* ------------------------------------------------------------------------- */
/* ---------------------------------PORTFOLIO------------------------------- */
/* ------------------------------------------------------------------------- */

.portfolio {
}

.filter-list {
  list-style-type: none;
}

.button-secondary:hover,
.button-secondary:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.portfolio-list {
  list-style-type: none;
}

.portfolio-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.87;
}
